<% include header %>
<div class="row row-centered">
<h2>La pregunta se ha actualizado exitosamente.</h2>
  	<br>
  	<hr>
  	<br>
 	<a class="btn btn-danger"  href="/docente/editarpreguntasalternativa/<%=asignatura.idasignatura%>/<%=asignatura.idparalelo%>">Editar otra pregunta</a>
    <a class="btn btn-danger" href="/docente/menu">Volver al menú</a>

</div>
<% include footer %>