<% include header %>

<h1>Gestionar Pregunta</h1>
<br>
<a href="/docente/crearpregunta">Crear Pregunta</a>
<br>
<a href="/docente/editarpregunta">Editar Pregunta</a>
<br>
<% include linkmenudocente %>
<% include footer %>
