<% include header %>

<h2 class="text-center">Analizar Pregunta</h2>
<h3 class="col-md-3 col-md-offset-4">Lista de Ramo</h3>
<h4 class="col-md-3 col-md-offset-4">Seleccione una Pregunta</h4>

<div class="col-md-8 col-md-offset-4 ">
	<form class="input-lg " action="/docente/analizar/verrespuestas" method="get">
	    <% include seleccionarpregunta %>
	</form>
</div>
<% include linkmenudocente %>
<% include footer %>