<% include header %>
<div class="row row-centered">
  <div class="col-md-8 col-centered">
    Preguntas alternativa:
  </div>
</div>

<form action="/admin/administrar_asignatura" class="" method="get">
    <hr>
    <div class="row row-centered">
      <div class="col-md-2 col-centered">
        Nombre
      </div>
      <div class="col-md-4 col-centered">
        Pregunta
      </div>
      <div class="col-md-2 col-centered">
      </div>
    </div>

    <br>
  <%for(i in preguntas){%>
    <div class="row row-centered">
      <div class="col-md-2 col-centered">
       <%=preguntas[i].nombre%>
      </div>
      <div class="col-md-4 col-centered">
        <%=preguntas[i].pregunta%>
      </div>
      <div class="col-md-2 col-centered">
        <a href=''>Editar</a>
      </div>
    </div>
    <br>
    <hr>
  <%}%>
</form>
<form class="" action="/signout" method="post">
  <input class=" col-md-2 col-md-offset-5 btn btn-danger " type="submit" name="sign out" value="Sign out"></div>
</form>
<% include linkmenudocente %>
<% include footer %>
