<% include header %>


<a class="col-md-3 col-md-offset-4" href="/docente/crearpreguntaalternativa">Crear Pregunta Alternativa</a>
<br>
<a class="col-md-3 col-md-offset-4" href="/docente/crearpreguntadicotomica">Crear Pregunta Dicotomica</a>
<br>
<a class="col-md-3 col-md-offset-4" href="/docente/crearpreguntaescalalikert">Crear Pregunta Escalalikert</a>
<br>

<% include linkmenudocente %>
<% include footer %>