<% include header %>


<a href="/docente/editarpa">Editar Pregunta Alternativa</a>
<br>
<a href="/docente/editarpd">Editar Pregunta Dicotomica</a>
<br>
<a href="/docente/editarpreguntaescalalikert">Editar Pregunta Escalalikert</a>
<br>
<input class="btn btn-primary" type="button" value="Volver" onclick="goBack()">
<script>
	function goBack() {
		window.history.back()
	}
</script>

<% include footer %>