<% include header %>


<a href="/docente/crearpreguntaalternativa">Crear Pregunta Alternativa</a>
<br>
<a href="/docente/crearpreguntadicotomica">Crear Pregunta Dicotomica</a>
<br>
<a href="/docente/crearpreguntaescalalikert">Crear Pregunta Escalalikert</a>
<br>


<% include footer %>