<% include header %>


<a class="col-md-3 col-md-offset-4" href="/docente/editarpa">Editar Pregunta Alternativa</a>
<br>
<a class="col-md-3 col-md-offset-4" href="/docente/editarpd">Editar Pregunta Dicotomica</a>
<br>
<a class="col-md-3 col-md-offset-4" href="/docente/editarpreguntaescalalikert">Editar Pregunta Escalalikert</a>
<br>
<input class="btn btn-primary col-md-3 col-md-offset-4" type="button" value="Volver" onclick="goBack()">
<script>
	function goBack() {
		window.history.back()
	}
</script>
<% include linkmenudocente %>
<% include footer %>