<% include header %>

<div class="text-center">
	<span>Pregunta 1,</span><span>Clase, 30 de marzo</span></br>
	<span>Realizada a las 8:35am</span>
</div>
<div class="col-md-6 col-md-offset-4">
	<h3>Qué es lo que comía el murciélago hindú?</h3>
	<ul>
		<fieldset disabled>
		<li><input type="checkbox"> cardillo y kiwi</li>
		<li><input type="checkbox"> sopaipilla</li>
		<li><input type="checkbox"> Carne</li>
		</fieldset>
	</ul>

	<span>La respuesta correcta es <span style="color:#7ddf64">cardillo y kiwi</span></span>
	<p>
	La respuesta correcta de esta pregunta se da debido...
	</p>

</div>

<% include linkmenudocente %>
<% include footer %>
