<% include header %>

	<h2 class="text-center"><strong>Analizar Pregunta</strong></h2>
	<h3 class="col-md-3 col-md-offset-4">Lista de Ramo</h3>
	<h4 class="col-md-3 col-md-offset-4">Seleccione una Fecha</h4>


	<div class="col-md-8 col-md-offset-4 ">
		<form class="input-lg " action="/docente/analizar/seleccionarpregunta" method="get">
			<% include seleccionarfecha %>
		</form>
	</div>

<% include linkmenudocente %>
<% include footer %>
