<% include header %>

<h class="col-md-3 col-md-offset-4">Gestionar Pregunta</h>
<br>
<a class="col-md-3 col-md-offset-4" href="/docente/crearpregunta/<%=asignatura.idasignatura%>/<%=asignatura.idparalelo%>">Crear Pregunta</a>
<br>
<a class="col-md-3 col-md-offset-4" href="/docente/editarpregunta/<%=asignatura.idasignatura%>/<%=asignatura.idparalelo%>">Editar Pregunta</a>
<br>
<% include linkmenudocente %>
<% include footer %>
