<% include header %>


<h1>Crear Pregunta Dicotomica</h1>

<form>
  Nombre pregunta:<br>
  <input type="text" name="nombrePregunta">
  <br>
  Pregunta:<br>
  <textarea class="form-control" rows="5" name="pregunta"></textarea>
  <br><br>
  <button type="button">Volver</button>
  <input type="submit" value="Editar"> 
</form>


<% include footer %>