<% include header %>
	<h3>Editar Pregunta de Alternativa</h3>
	<div class="row row-centered">
		<div class="col-sm-8 col-centered">
			<form action="" method="">
				<label for="">Nombre Pregunta</label><br/>
				<input type="text" value="Equivalencia MiB"><br/>
				<label for="">Pregunta:</label><br/>
				<input type="text" value="¿A cuanto equivale MiB?"><br/>
				<label for="">Imagen</label><br/>
				<input type="file" id="comprobarImagenes" onchange="checkExt()"><br/>
				<label for="">URL Video</label><br/>
				<input type="text" name="" id="URL" onchange="ValidarURL()"><br/>
				<label for="">Respuestas:</label><br/>
				<table class="table table-striped" id="tableId"style="width:100%">
					<tr>
						<td>Respuestas</td>
						<td>Correcta</td> 
						<td>Seleccionar</td>
					</tr>
					<tr>
						<td>2^20[B]</td>
						<td><input type="radio" name="" id=""></td> 
						<td><input type="checkbox" name="" id=""></td>
					</tr>
					<tr>
						<td>10^10[B]</td>
						<td><input type="radio" name="" id=""></td> 
						<td><input type="checkbox" name="" id=""></td>
					</tr>
					<tr>
						<td>2^10[B]</td>
					    <td><input type="radio" name="" id=""></td> 
					    <td><input type="checkbox" name="" id=""></td>
					</tr>
				</table>
				<input class="btn btn-default" type="button" value="Agregar" onclick="agregar()">
				<input class="btn btn-default" type="button" value="Editar" onclick="editar()">
				<input class="btn btn-default" type="button" value="Quitar"onclick="quitar()"><br/>
				<label for="">Explicacion respuesta correcta:</label><br/>
				<textarea name="" id="" cols="40" rows="5">Un MiB equivale a 2^20[B]</textarea><br/>
			</form>
			<input class="btn btn-default" type="submit" value="Editar">
			<input class="btn btn-default" type="button" value="Volver" onclick="goBack()">
		</div>
	</div>
	<style>
	textarea {resize:none;}
	</style>
<% include footer %>