<% include header %>
		<h3>Editar Pregunta Dicotomica</h3>
		<div class="row row-centered">
			<div class="col-sm-2 col-centered"></div>
			<div class="col-sm-8 col-centered">
				<label for="">Titulo Pregunta</label><br/>
				<input type="text" value="Dirección IP"><br/>
				<label for="">Pregunta:</label><br/>
				<input type="text" value="¿Una dirección IP tiene 32 bits?"><br/>
				<label for="">Imagen</label><br/>
				<input class="btn btn-primary" type="file"><br/>
				<label for="">Video</label><br/>
				<input class="btn btn-primary" type="file" name="" id=""><br/>
				<label for="">Respuestas:</label><br/>
				<label for="">a)</label>
				<input type="radio" name="" id=""> SI<br/>
				<label for="">b)</label>
				<input type="radio" name="" id=""> NO<br/>
				<label for="">Explicacion respuesta correcta:</label><br/>
				<textarea name="" id="" cols="30" rows="5">La dirección IPv4 se expresa por una número binario  de 32 bits permitiendo un espacio de direcciones de hasta 2^32 direcciones posibles.</textarea><br/>
				<label for="">Imagen</label><br/>
				<input type="file"><br/>
				<input class="btn btn-primary" type="submit" value="Guardar cambios">
				<input class="btn btn-primary" type="button" value="Volver" onclick="goBack()">
				<script>
					function goBack() {
    					window.history.back()
					}
				</script>
			</div>
		</div>
	</div>
	<% include footer %>