<% include header %>

<h1>Analizar Pregunta</h1>
<h3>Lista de Ramo</h3>
<h4>Seleccione una Fecha</h4>

<span>Fecha</span>
<form action="/estudiante/seleccionar/pregunta" method="get">
<% include seleccionarfecha %>
</form>

<% include linkmenuestudiante %>
<% include footer %>
