<% include header %>

<h1>Analizar Pregunta</h1>
<h3>Lista de Ramo</h3>
<h4>Seleccione una Pregunta</h4>

<span>Preguntas</span>
<form action="/estudiante/ver/respuestas" method="get">
<% include seleccionarpregunta %>
</form>

<% include linkmenuestudiante %>
<% include footer %>
