<% include header %>

<div>
<span>Pregunta 1,</span><span>Clase, 30 de marzo</span></br>
<span>Realizada a las 8:35am</span>

<h3>Qué es lo que comía el murciélago hindú?</h3>
<ul>
<li>cardillo y kiwi</li>
<li>sopaipilla</li>
<li>carne</li>
</ul>
<br>
<span>La respuesta correcta es <span style="color:red">Incorrecta</span></span>
<br>
<span>La respuesta correcta es <span style="color:#7ddf64">cardillo y kiwi</span></span>
<p>
La respuesta correcta de esta pregunta se da debido...
</p>

</div>

<% include linkmenuestudiante %>
<% include footer %>
