<% include header %>

    <form action="/estudiante/ingresado" method="get">
      <label for="password">Ingrese Código</label>
      <input type="password" name="password" />
      <input type="submit" name="submit" value="Ingresar">
    </form>

<% include footer %>
