
<select  class="col-md-3 col-md-offset-1" id="fecha" name="fecha">
  <%for(i in fechas){%>
	  <option value="<%=fechas[i].fechavalue%>"><%=fechas[i].fechainicioTotal%></option>
  <%}%>
</select>
<input type="hidden" name="asignatura" value="<%=idasignatura%>" />
<input type="hidden" name="paralelo" value="<%=idparalelo%>" />
<input class="btn btn-success" type="submit" name='submit' value='Siguiente' />
