<select name="pregunta">
	<!--acá va un for-->
	<option value="pregunta1">pregunta 1</option>
	<option value="pregunta2">pregunta 2</option>
	<option value="pregunta3">pregunta 3</option>
</select>
<input type="hidden" name="asignatura" value="0" />
<input type="hidden" name="paralelo" value="0" />
<input type="submit" name='submit' value='Siguiente' />
